h6 {
  font-size: 12px;
  font-weight: bold;
}
p {
  font-size: 8px;
}
.fa {
  font-size: 4px;
}
.mtb {
  margin: 10px;
}
.fss {
  font-size: 6px;
  font-weight: bold;
}
span {
  display: inline-block;
}
